<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>Ejemplo ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="weather | async as clima">
    <ion-card-header>
      <ion-card-subtitle>{{clima.weather[0].main}}</ion-card-subtitle>
      <ion-card-title>{{clima.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{clima.weather[0].description}}
    </ion-card-content>
  </ion-card>
</ion-content>
